@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  background-image: linear-gradient(to bottom right, #368980,#009B81);
}

h1 {
  max-width: 40rem;
  text-align: center;
  margin: 0 auto 3rem auto;;
  padding: 1rem 8rem;
  background-color: #00D1D1;
  color: #ffffff;
  box-shadow: 15px 15px rgba(0,0,0,.15);
  transition: all .4s ease;;
}

h1:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

.container {
  margin: 0 auto;
  max-width: 45rem;
  background-color:#00FFFF;
  padding: 1rem 2rem;
}

.card {
  /* Add shadows to create the "card" effect */
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: #000000;
  box-shadow: 15px 15px rgba(0,0,0,.15);
  transition: all .4s ease;;
}

.card:hover {
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

.add_task {
  width: 42rem;
  padding: 1rem;
}

#form {
  display: flex;
  justify-content: space-between;
}

.active_task {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #ffffff;
  margin: 1rem 0;
}

.task {
  width: 80%;
  font-size: 20px;
}

.task_list {
  padding: 1rem;
}

.default {
  padding: 1rem 2rem;
  background-color: #ffffff;
}

.removed {
  display: none;
}

#addBtn {
  padding: 0.7rem;
  width:  20%;
  font-weight: 700;
  border-radius: 10px;
  font-size: 0.8rem;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 2px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

#addBtn:hover {
  color: #ffffff !important;
  background: #00A3A3;
  border-color: #ffffff !important;
  transition: all 0.4s ease 0s;
  border-width: 4px;
}

#input_task {
  width: 78%;
  padding: 0.7rem
}

.checkbox {
  z-index: 2;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 5px 10px 0 0;
  float: left;
}

.actions {
  display: flex;
}

.edit {
  padding-right: 10px;
}

.edit,
.delete {
  font-size:  1.25em;
  padding: 5px;
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.checkbox,
.edit,
.delete,
#addBtn {
  cursor: pointer;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  main {
    padding: 0;
    padding-top: 5rem;
  }

  .container {
    width: 87%;
  }

  .add_task {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {

  main {
    padding: 3rem 0;
  }

  h1 {
    width: 88%;
    padding: 1rem 2rem;
    box-shadow: 10px 10px rgba(0,0,0,.15);
  }

  h1:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 5px 5px rgba(0,0,0,.25);
  }

  .container {
    width: 92%;
    padding: 1rem 0.5rem;
  }

  .card {
    box-shadow: 10px 10px rgba(0,0,0,.15);
  }

  .card:hover {
    box-shadow: 5px 5px rgba(0,0,0,.25);
  }

  #form {
    flex-direction: column;
  }

  #input_task {
    width: 100%;
    margin: 0 auto;
  }

  .add_task,
  .task_list {
    padding: 1rem 0.5rem;
  }

  #addBtn {
    width: 100%;
    margin: 10px auto 0 auto;
    color: #ffffff !important;
    background: #00A3A3;
    border-color: #00A3A3 !important;
    transition: all 0.4s ease 0s;
    border-width: 2px;
  }

  .active_task {
    padding: 0.5rem 1rem;
  }

  .task {
    font-size: 1rem;
  }

  .checkbox {
    margin-top: 3px;
  }

  .fa-edit {
    display: none !important;
  }
}

